<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Faculty</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<th:block th:replace="~{layout::header}"></th:block>
<div class="container" sec:authorize="hasAnyAuthority('ADMIN')" >
    <h2>Add Faculty</h2>
    <form method="post" th:object="${faculty}" th:action="@{/faculties}">
        <div class="form-group">
            <label for="facultyID">Faculty ID:</label>
            <input type="text" class="form-control" id="facultyID" th:field="*{facultyID}">
        </div>
        <div class="form-group">
            <label for="facultyName">Faculty Name:</label>
            <input type="text" class="form-control" id="facultyName" th:field="*{facultyName}">
        </div>
        <button type="submit" class="btn btn-primary">Add Faculty</button>
    </form>
</div>
</body>
</html>
