<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <th:block th:replace="~{layout::link-css}"></th:block>
</head>
<body>
<th:block th:replace="~{layout::header}"></th:block>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <h3 class="card-title text-center">Forgot Password</h3>
            <form th:action="@{/forgot_password}" method="post">
                <fieldset>
                    <div th:if="${error}" class="alert alert-danger">
                        <p th:text="${error}"></p>
                    </div>
                    <div th:if="${message}" class="alert alert-success">
                        <p th:text="${message}"></p>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" required class="form-control" id="email" name="email">
                    </div>
                    <div class="d-grid gap-2 form-action">
                        <button type="submit" class="btn btn-primary">Send Password Reset Link</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<th:block th:replace="~{layout::footer}"></th:block>
</body>
</html>
